$color_1: rgb(0, 70, 175);
$color_2: #fff;
$color_3: #000;
$color_4: #19539b;
$color_5: rgba(45, 45, 45, 0.666);
$color_6: rgba(255, 255, 255, 0.678);
$color_7: rgb(95, 92, 92);
$font-family_1: 'Lato', sans-serif;
$background-color_1: rgba(30, 103, 213, 0.862);
$background-color_2: rgba(238, 235, 235, 0.835);
$background-color_3: rgba(108, 154, 227, 0.862);
$background-color_4: rgba(238, 235, 235, 0.907);
$background-color_5: rgba(59, 113, 220, 0.624);

.map {
	width: 250vh;
	height: 100vh;
	z-index: 1;
	position: absolute;
	left: -50vh;
}
.banner {
	margin: 1em 2em;
	position: absolute;
	z-index: 2;
	h1 {
		color: $color_1;
		font-family: $font-family_1;
	}
}
.dashboard {
	width: 45vh;
	z-index: 3;
	position: absolute;
	right: 5vh;
	top: 2em;
	border-radius: 20px;
}
.input-box {
	margin: 1em;
	button {
		display: inline-block;
		border-radius: 0 25px 25px 0;
		width: 90px;
		height: 50px;
		border: none;
		outline: none;
		cursor: pointer;
		background-color: $background-color_1;
		color: $color_2;
		font-weight: 500;
	}
	h1 {
		margin: 0 0 10px;
		padding: 0;
		color: $color_3;
		font-size: 24px;
	}
}
input {
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
	background: #fff;
	width: 300px;
	height: 50px;
	border: none;
	outline: none;
	padding: 0 25px;
	border-radius: 25px 0 0 25px;
	margin: auto;
}
.error-box {
	width: 90%;
	background-color: $background-color_2;
	box-shadow: 0px 27px 43px 6px rgba(0,0,0,0.19);
	-webkit-box-shadow: 0px 27px 43px 6px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px 27px 43px 6px rgba(0,0,0,0.19);
	border-radius: 10px;
	margin: 1em auto;
	align-items: center;
	display: flex;
	justify-content: space-between;
	p {
		margin: 1em auto;
		font-family: $font-family_1;
	}
	button {
		margin: 0 1em;
		border: none;
		outline: none;
		padding: 0 .5em;
		border-radius: 50%;
		color: $color_2;
		background-color: $background-color_3;
	}
}
.table-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	padding: 0 1em;
}
.table {
	width: 300px;
	margin: 1em auto;
	padding: 1em;
	border-radius: 15px;
	background-color: $background-color_4;
	box-shadow: 0px 27px 43px 6px rgba(0,0,0,0.39);
	-webkit-box-shadow: 0px 27px 43px 6px rgba(0,0,0,0.39);
	-moz-box-shadow: 0px 27px 43px 6px rgba(0,0,0,0.39);
	border-bottom: 5px solid rgba(22, 21, 21, 0.734);
	.middle {
		display: flex;
		align-items: center;
	}
	.bottom {
		display: flex;
		align-items: center;
	}
}
.ip-address {
	margin: .5em 0;
	h1 {
		font-size: 2.4rem;
		font-family: $font-family_1;
		padding: 0 !important;
		color: $color_4;
		margin: 0 !important;
	}
	small {
		font-family: $font-family_1;
		font-weight: bold;
		padding: 0 .3em !important;
		color: $color_5;
	}
}
.bottom {
	span {
		font-size: 2.5rem;
		background-color: $background-color_5;
		padding: .1em;
		border-radius: 100%;
		color: $color_6;
		pointer-events: none;
	}
}
.country-name {
	h1 {
		font-size: 1.5rem;
		font-family: $font-family_1;
		margin: 0 .5em;
		padding: 0 !important;
		color: $color_4;
	}
	small {
		font-family: $font-family_1;
		font-weight: bold;
		margin: 0 1em;
		padding: 0 !important;
		color: $color_5;
	}
}
.ip-information {
	h2 {
		color: $color_7;
		font-size: 17px;
	}
}
.information-box {
	margin: .5em 0;
	p {
		padding: 0 !important;
		margin: .3em 0 !important;
		font-family: $font-family_1;
		font-weight: bolder;
	}
	span {
		font-weight: 500;
	}
}
